.nova-round-regular {
	font-family: "Nova Round", system-ui;
	font-weight: 400;
	font-style: normal;
}

/* Global setters */
* {
	color: #efeff0;

	margin: 0;
	padding: 0;
	font-family: "Nova Round";

	scrollbar-color: #efeff0 transparent;
}

body {
	background-color: #0e051c;
}

hr {
	border-top: 2.5px solid #efeff0;

	margin: 20px 0px;
}

pre {
	text-wrap: auto;
	text-align: justify;
}

button,
.page-button {
	background-color: #39125d;
}

button:hover,
.page-button:hover {
	background-color: #9700df;
}

.page-button {
	position: absolute;
	top: 0;
	left: 0;

	width: 75px;
	height: 75px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 20px;

	border-radius: 50%;
}

.page-button > img {
	height: 50px;
}

.logo {
	width: 100%;
}

.page-container {
	padding: 20px 20%;
}

.page-container > h2 {
	margin-top: 10px;
	text-align: center;
}
