.nova-round-regular {
  font-family: "Nova Round", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Global setters */
* {
  color: #efeff0;

  margin: 0;
  padding: 0;
  font-family: "Nova Round";

  scrollbar-color: #efeff0 transparent;
}

body {
  background-color: #202225;
}
